<div class="slider">

    <!-- Первый слайд -->
    <div class="item">
        <img src="https://planetofhotels.com/guide/sites/default/files/styles/paragraph__live_banner__lb_image__1880bp/public/live_banner/London-1.jpg">
    </div>

    <!-- Второй слайд -->
    <div hidden class="item">
        <img src="https://tripmydream.cc/travelhub/travel/blocks/14/5241/block_145241.jpg?v1">
    </div>

    <!-- Третий слайд -->
    <div hidden class="item">
        <img src="https://spb.sutochno.ru/doc/images/galleries/180/piter-may1.jpg">
    </div>

    <!-- Кнопки-стрелочки -->
    <a class="previous" onclick="previousSlide()">&#10094;</a>
    <a class="next" onclick="nextSlide()">&#10095;</a>
</div>